.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.0625rem;
  flex-shrink: 0;
  padding: 1.69rem 7.69rem 1.69rem 2.25rem;
}

.artist {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.membership {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
}

.membershipInfo {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.membershipInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

.search {
  background-color: transparent;
  min-width: 13.5rem;
  border-radius: 0.875rem;
  border: 2px solid #e5e5e5;
}

.imgSelector {
  border-radius: 1.5rem;
  object-fit: cover;
  cursor: pointer;
}
