.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.subscription {
  display: flex;
  width: 20.875rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 1.125rem;
  background: rgba(255, 138, 0, 0.1);
}

.currentPlan {
  display: flex;
  padding: 0.375rem 1rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1.125rem;
  background: #ff8a00;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1875rem;
}

.planPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.price {
  display: flex;
}

.expDate {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
