.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}