

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.3rem;
  min-height: 80vh;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  background: white;
  overflow-y: auto;
}
