.container {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  width: 100%;
  align-items: baseline;
  padding: 0.75rem 2.25rem;
  height: 5rem;
  align-items: center;
  background-color: var(--secondary-color---light);
}

.musicName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.musicFont {
  display: flex;
  flex-direction: column;
}

.playBar {
  display: flex;
  width: 100%;
  max-width: 28rem;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 0.5rem;
}

.timeLine {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  align-items: center;
  gap: 0.75rem;
}

.bar {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.button {
  background-color: var(--secondary-color---light);
  border: 0;
  cursor: pointer;
}

.rightBar {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  max-width: 10rem;
  margin-left: auto;
}

.volumeBar {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: 10rem;
  align-items: center;
  gap: 0.6875rem;
}

.timeText {
  width: 1.4rem;
}
