.container {
  width: 19rem;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.logoText {
  display: inline-flex;
  align-items: center;
  gap: 0.5625rem;
  padding: 2rem;
}

.gold {
  border-radius: 2rem;
  background-color: var(--yellow---default);
  padding: 0.3125rem 0.75rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.menuText {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-left: 2rem;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  align-self: stretch;
  width: 100%;
  padding-right: 0.6rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.6rem 0.6rem 0.6rem 2rem;
  cursor: pointer;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
  transition: background-color 0.15s ease-in-out;
  background-color: white;
}

.navLink * {
  opacity: 0.7;
}

.navLink:hover {
  background-color: var(--secondary-color---light);
}

.navLink:hover * {
  opacity: 0.8;
}

.navLinkWarn:hover {
  background-color: rgba(255, 60, 0, 0.1);
}

.navLinkActive {
  background-color: var(--secondary-color---light);
}

.navLinkActive * {
  opacity: 1;
}

.albumCover {
  margin: auto auto 2rem auto;
  box-shadow: 0px 8.356807708740234px 25.07042121887207px 0px
    rgba(0, 0, 0, 0.15);
  width: calc(100% - 4rem);
  height: auto;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  border-radius: 1.3rem;
}

.artistInfo {
  display: inline-flex;
  margin: auto auto 2rem auto;
  width: calc(100% - 4rem);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.artistPhoto {
  border-radius: 1.5rem;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}
