.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.artists {
  display: flex;
  align-items: flex-start;
  gap: 2.25rem;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}
