.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  align-items: center;
  gap: 0.6875rem;
  flex-shrink: 0;
}

.musicImage {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.25) inset,
    -3px 3px 20px 0px rgba(62, 78, 111, 0.15);
}

.musicInfo {
  display: flex;
  height: 1.375rem;
  flex-direction: column;
  align-self: stretch;
  overflow: hidden;
  color: var(--color-primary, #283b4b);
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
