.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  width: 8rem;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.container:hover {
  background-color: var(--color-primary, #eeeeee);
  color: var(--color-secondary, #ffffff);
  border-radius: 0.75rem;
}

.songImage {
  width: 8rem;
  height: 8rem;
  border-radius: 0.9375rem;
  box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.25) inset,
    -3px 3px 20px 0px rgba(62, 78, 111, 0.15);
}

.songName {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.songArtistName {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
