.songs {
  display: grid;
  max-width: 51.5rem;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.artists {
  display: flex;
  align-items: flex-start;
  gap: 2.25rem;
}
