.container {
  display: flex;
  width: 51.5rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.artists {
  display: flex;
  align-items: flex-start;
  gap: 2.25rem;
}
