.container {
  padding: 2.3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.radioLabel {
  font-size: 1rem;
  font-weight: 600;
}
.radioRoot {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.defaultRadius {
  border-radius: 0.8rem;
}

.methodSelections {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.methodContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
